@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  pre {
    @apply bg-gray-200 font-mono px-4 py-2 text-gray-700 my-2;
  }
  code {
    @apply bg-gray-200 font-mono px-1 py-0.5 text-gray-700;
  }
  h1 {
    @apply my-4;
  }
  ol,
  ul {
    @apply px-3 py-1;
  }
}
@layer utilities {
  ol,
  ul {
    list-style: disc;
  }
  ul ul {
    list-style: square;
    padding: 0.5rem;
  }
  ol {
    list-style: decimal;
  }
  ol ol {
    list-style: lower-roman;
    padding: 0.5rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 0.875em;
  }
  h5 {
    font-size: 0.85em;
  }
  h6 {
    font-size: 0.82em;
  }
  p {
    margin-bottom: 1em;
    color: var(--clr-grey-3);
  }
  a {
    color: #58a6ff;
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    h4 {
      font-size: 1em;
    }
    h5 {
      font-size: 0.875em;
    }
    h6 {
      font-size: 0.85em;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  blockquote {
    font-size: 1.1rem;
    font-style: italic;
    border-left: 5px solid #727070;
    color: #727070;
    padding-left: 2rem;
    line-height: 2;
    margin: 1.5rem 0;
  }
  blockquote ::first-letter {
    text-transform: uppercase;
  }
}
